body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: white;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
    padding: 0%;
}

*,
::after,
::before {
    box-sizing: border-box;
    /*    transition: 0.3s all ease-in-out;*/
}

.container {
    width: 80%;
    margin: auto;
    padding: 0px 15px;
    position: relative;
}

.main-head {
    background-image: url(../images/01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;

}

.head {
    width: 100%;
    position: absolute;

}

.header {
    padding: 40px 0px;
    text-align: center;
}

.top {
    padding-bottom: 20px;

}

.main-head h1 {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header .top h1 > a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.main-head p {
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
}

.head-nav {
    position: relative;
}

.nav-list li {
    display: inline-block;
}

.nav-list li > a {
    color: inherit;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.head-nav .nav-list li > a:hover {
    color: #A3C9D3;
}

.nav-list-inner {
    display: none;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 161px;
    text-align: left;

}

.nav-list-inner li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.nav-list-inner li > a {
    color: inherit;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;

}

.errow {
    padding-right: 5px;
}

.nav-list li:hover .nav-list-inner {
    display: block;


}

.nav-list-inner li:hover {
    color: white;
    background-color: #A3C9D3;
}

.nav-list li:hover .nav-list-inner li > a {
    color: #ffffff;
    background-color: inherit;
}

.sec-head {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding-bottom: 15px;

}

.sec-head-cont {
    width: 60%;
    margin: auto;

}

.sec-head h3 {
    font-size: 20px;
    font-weight: 100;
    font-weight: lighter;
    padding: 15px 0px;

}

.customer {
    margin-top: 80px;
    padding-bottom: 20px;
}

.customer a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px 12px;
    text-transform: uppercase;
    border: 1px solid #A3C9D3;
    background-color: #A3C9D3;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    color: #ffffff;
}

.customer a:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    background: 0 0;
}

.card-section {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;

}

.card-cont {
    width: 100%;


}

.text-card {

    width: 49.5%;
    border: 1px solid #D7D7D7;

}

.text-max {
    padding: 25px;
}

.text-max h6 {
    font-size: 22px;
    color: #888888;
    padding-bottom: 12px;
}

.text-max p {
    color: #888888;

}

.card-images {

    width: 25%;


}


.images {
    width: 100%;
    position: relative;
}

.images img {
    width: 100%;

}

.plc-effect {
    opacity: 0;
    display: block;
    transform: translate(0, -50px);
    line-height: 1;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 40%;

}

.card-images .images:hover p {
    opacity: 1;


}

.card-images .images::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-cont .card-images .images:hover::after {
    background-color: #A3C9D3;
    opacity: 0.6;
}
.further-section
{
    background-image: url(../images/01.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    
}
.arrow-real
{
    width: 60%;
    margin: auto;
    padding: 80px 0px;
    text-align: center;
    
}
.heading-arrow
{
    font-size: 22px;
    padding-bottom: 20px;
    
}
.further-pera
{
    font-size: 14px;
    padding-bottom: 50px;
}
.further-button
{
    color: #FFFFFF;
    background-color: #A3C9D3; 
    display: inline-block;
    padding: 10px 20px 12px;
    text-transform: uppercase;
    border: 1px solid #A3C9D3;
    border-radius: 5px;
    text-decoration: none;
}
.further-button:hover
{
    background: 0 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.financing-section
{
    width: 100%;
    position: relative;
    padding: 80px 0px;
}
.fin-cont
{
    width: 100%;
    color: #888888;
}
.fin-head
{
    padding-bottom: 50px;
    
    text-align: center;
}
.detail-cont
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detail-card
{
    width: 33.33%;
    text-align: center;
}
.detail
{
    width: 100%;
    padding-top: 20px;
    
}
.detail-cont .detail span
{
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 60px;
    line-height: 100px;
    font-size: 40px;
    font-weight: 400;
    z-index: 1;
    color: white;
    
}
.detail-cont .detail span::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transform: rotate(-90deg);
    z-index: -1;
    background-color: #A3C9D3;
    border: 1px solid #A3C9D3;
    border-radius: 5px;
}
.detail-cont .detail span::after
{
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    background-color: #A3C9D3;
    border: 1px solid #A3C9D3;
    border-radius: 5px;
}
.detail-card .detail:hover span::after
{
    transform: rotate(360deg);
    transition: transform .5s ease-in-out;
}
.detail h6
{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    
}
.detail h6 a
{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
.detail-card .detail:hover h6 a
{
    color: #A3C9D3;
}
.detail-link 
{
    padding-top: 30px; 
}
.detail-link a
{
    color: #A3C9D3;
    text-decoration: none;
    display: inline-block;
}
.foot
{
    background-image: url(../images/01.png);
    background-position:center top;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
}
.foot-upper
{
    padding: 80px 0px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    width: 978px;
    margin: auto;
}
.social-items li
{
    padding: 5px;
}
.social-items a
{
    color: #FFFFFF;
    background-color: #A3C9D3;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    border-radius: 5px;

}
.facebook:hover{
    
    background-color: #3B5998;
}
.twitter:hover{
    
    background-color: #00ACEE;
}
.dribble:hover
{ 
  background-color: #EA4C89;  
}
.linkedin:hover{
    background-color: #0E76A8
}
.google:hover{
    background-color: #DB4A39;
}
.vk:hover
{
    background-color: #4E658E;
}
.copyright-cont
{
    padding: 30px 0px;
    text-align: center;
    
}
.copyright-cont p
{
    padding-bottom: 10px;
}
.copyright-cont h6
{
    font-size: 13px;
    font-weight: lighter;
}


